PyQt5==5.15.7
PyQtWebEngine==5.15.6
sqlalchemy==2.0.15
alembic==1.10.4
SQLAlchemy==1.4.46
pandas==2.0.1
plotly==5.14.1
requests==2.31.0
openpyxl==3.1.2
reportlab==3.6.12
python-dateutil==2.8.2
schedule==1.2.0
pyinstaller==5.13.0
qrcode==7.4.2
Pillow==10.2.0.1
xlsxwriter==3.1.2
